body,html{
    height: 100%;
    width: 100%;
}
body{
    font-family:'Montserrat',sans-serif;
   
    
}

hr{
    max-width: 65px;
    border-width: 3px;
    border-color:F05F44;
}

.faded{
    color:rgba(255,255,255,0.8);
}

header.startup{
     background-position: center;
    background-image: url(images/header.jpg);
   
    background-size: cover;
    height: 100%;
   
}

header.startup.hr{
    margin-top: 200px;
    margin-bottom: 360px;
}

header.startup h1{
    font-size: 2rem;
     margin: 190px auto auto;
     
}

 .inocente:hover{
    
    transform: scale(1.1);
    cursor: pointer;}



.inocente {
    font-weight: 900!important;
     padding: 8px  45px !important;
    text-transform: uppercase;
     margin: 120px auto auto;
  margin-right: 60px;
    font-family:'Montserrat',sans-serif!important;
    border-radius:300px!important;
   
    
  
}

.inocente{
    
    background-color: #18e860 !important;
    border-color: #d8e818;
    border-radius:300px;
}

.inocente:hover{
    background-color: #ed3239 !important;
    border-color: #ed3239;
    border-width: 3px!important;
    transform: scale(1.1);
    cursor: pointer;
    
}


header.startup h1:hover{
    color: #10247b !important;
    
    border-color: #ed3239;
     cursor: pointer;
    transform: scale(1.1);
    
}

.inocente a{
    text-decoration: none;
    background-color: #ed3239;
    border-color: #ed3239;
    border-width: 3px;
    cursor: pointer;
    
}


